* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden !important;
}

body {
	color: #303030;
	margin: 0;
	padding: 0;
	background-color: #feffff;
	letter-spacing: 0.5;
}

h1 {
	font-size: 3em;
}

h2,
h3,
h4,
h5 {
	line-height: 1.1;
	padding-top: 0.5rem;
	margin: 1rem 0;
	font-family: Helvetica-Bold;
}

p {
	font-family: helvetica;
	font-size: 1em;
	line-height: 1.5;
	max-width: 60ch;
	letter-spacing: 0.5;
}

article,
aside,
footer,
header,
main,
nav,
section {
	display: block;
}

main {
	width: 100%;
}

section {
	padding: 0 1rem;
	margin: 0 auto 1rem;
	max-width: 1200px;
	width: 100%;
}

img {
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

ul {
	list-style: none;
}
table {
	width: 100%;
	margin-top: 1rem;
	box-shadow: 0 0 0 1px #154ba0;
	border-bottom: 1px solid #154ba0;
}

th {
	padding: 0.5rem 1rem;
}

td {
	text-align: left;
	padding: 0.5rem 1rem;
}

tr {
	vertical-align: text-top;
}

thead {
	background-color: #d6e7ff;
	border-bottom: 1px solid #154ba0;
}

@media screen and (max-width: 991px) {
	p {
		font-size: 14px;
	}
}
@media screen and (max-width: 767px) {
	div {
		padding: 0;
	}
}
