.faWifi::after {
	content: 'Wireless internet';
}

.fa::after {
	font-weight: normal;
	padding-left: 0.5rem;
	font-family: $helveticaRegular;
}

.fa-wifi::after {
	content: 'Wireless internet';
}

.fa-parking::after {
	content: 'Parking';
}
.fa-concierge-bell::after {
	font-weight: bold;
	content: 'Services';
}
.fa-tv::after {
	content: 'Flat-screen TV';
}
.fa-bath::after {
	content: 'Ensuite bathroom';
}
.fa-dumbbell::after {
	content: 'Fitness room';
}

.fa-utensils::after {
	content: 'Restaurant';
}
.fa-smoking-ban::after {
	content: 'Non-smoking rooms';
}