.banner {
	margin-top: 32px;
	padding: 0;
	height: 480px;
	position: relative;
	  @include screen("mobile") {
             height: 200px;
			 margin-top: 1rem;
         }
		&__background{
			
			height: 480px;
			background-image: url('../../../assets/img/bryggen_v2.jpg');
			background-repeat: no-repeat;
			background-position: top;
			background-size: cover;
			  @include screen("mobile") {
             	height: 200px;
				
         }
	}
	&__search-container {
		position: absolute;
		top: 25%;
		height: 200px;
		width: 100%;
		background-color: rgba(48, 48, 48, .7);
		text-align: center;
		 @include screen("mobile") {
         	display: none;
         }
	}
	
	&__heading{
 		color: $white;
		margin: 3.5rem 0 0;
		@include screen("mobile") {
			margin: 1.5rem 7.5rem 0;
			text-align: left;
		}
	}
	
	
}
