.searchBar {
	max-width: 500px;
	display: flex;
	margin: 1rem auto 0;
	z-index: 50;
	box-shadow: 0px 3px 6px $grey;
	border-radius: 5px;
	position: relative;
	@include screen('mobile') {
		margin: 0 auto;
		max-width: 350px;
		display: block;
	}

	&__input {
		width: 100%;
		padding: 0.75em;
		background-color: $white;
		border-radius: 5px;
		border: none;
		appearance: auto;
		outline: none;
		@include screen('mobile') {
			padding: 0.429em;
		}
	}
	&__options {
		margin: auto;
		z-index: 50;
		background-color: $white;
		border-radius: 5px;
		border-top: 1px solid $blue;
		max-width: 500px;
		text-align: left;
		padding: 0.75em;
		cursor: pointer;
		box-shadow: 0px 3px 6px $grey;
		@include screen('mobile') {
			max-width: 350px;
			
		}
	}
	&__options-item {
		max-width: 500px;
		background-color: $white;
		color: $black;
		padding: 0.5rem;
		text-align: left;
		margin: 0 auto 0;
		cursor: pointer;
		overflow-y: auto;
		border-bottom: 1px solid $black;
		@include screen('mobile') {
			max-width: 350px;
			
		}
		&:nth-last-child(1) {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		&:hover {
			background-color: $lightBlue;
			color: $black;
		}
		&--no-suggestions {
			color: #999;
			
			
		}
	}
	&__icon {
		font-size: 1.5rem;
		align-self: center;
		position: absolute;
		right: 10px;
		top: 10px;
		@include screen('mobile') {
			font-size: 1rem;
		}
	}
}
