.searchBar{
    padding: 0 1rem;
    display: none;
    margin: 0;
   
    @include screen("mobile") {
            display: block;
        }
    &__input-container {
		max-width: 500px;
		position: relative; 
		margin: 1rem auto 0;
		z-index: 50;
		box-shadow: 0px 3px 6px $grey;
		border-radius: 5px; 
        @include screen("mobile") {
            margin: 0 auto;
            max-width: 350px;
        }
	}
	&__input {
		width: 100%;
		padding:  0.75em;
		background-color: $white;
		border-radius: 5px; 
        border: none;
		appearance: auto;
		
		&:focus {
			outline-color: $yellow;
			
		}
		 @include screen("mobile") {
            padding:  .429em;
        }
	}
	
	&__options {
		z-index: 50;
		background-color: $white;
		border-radius: 5px; 
	}
	&__options-item {
		background-color: $white;
		color: $black;
		padding: .5rem;
		text-align: left;
		margin-bottom: 0;
		&:nth-last-child(1) {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;  
		}
		&:hover {
			background-color: $lightBlue;
			color: $black;
		}
	}
}