.bookDetails {
    min-height: 100%;
    margin-top: 0;
    border-radius: 5px;
	overflow: hidden;
    margin-bottom: 1rem;
    border-style: hidden; /* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px #154ba0;
    &--first {
        flex: 1 1 auto;
        @include screen("mobile") {
            flex: 1 1 292.59px;
            margin-bottom: 0rem;
        }
    }
    &--second {
       flex: 1 1 149.5px;
       @include screen("mobile") {
            flex: 1 1 auto;
        }
    }
    &--third {
        flex: 1 1 149.5px;
        @include screen("mobile") {
            flex: 1 1 auto;
           
         }
    }
    
    &__body{
        border-bottom: none;
      
    }
    
    &__body-row {
        border-style: hide; /* hide standard table (collapsed) border */
        box-shadow: none;
        border-bottom: none;
        background-color: $white;
        vertical-align: center;
    }
    
    &__body-row:nth-child(odd) {
        background-color: white;
    }
    &__body-row:nth-child(even) {
        background-color: white;
    }
    &__hd-col {
        background-color: $lightBlue;
    }
    &__col {
        background-color: $white;
    }
    &__ft-col {
        background-color: $lightBlue;
    }

    &__price {
        color:$red;
        font-weight: bold;
    }
}