.bookDetails {
    margin-top: 0;
    border-radius: 5px;
    margin-bottom: 1rem;
    //border-style: hidden; /* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px #154BA0;
    border-color: #154BA0;
	
    &--first {
        height: 292.92px;
     
        @include screen("desktop991px") {
           flex: 1;
        }
    }
    &--second {
       height: 162px;
      
    }
    &--third {
        height: 162px;
        
    }
    
    
    &__body-row {
        border-style: hide; /* hide standard table (collapsed) border */
        box-shadow: none;
        border-bottom: none;
        background-color: $white;
        vertical-align: center;
    }

    &__body-row:nth-child(odd) {
        background-color: white;
    }
    &__body-row:nth-child(even) {
        background-color: white;
    }
    &__hd-col {
        background-color: $lightBlue;
    }
    &__col {
        background-color: $white;
    }
    &__ft-col {
        background-color: $lightBlue;
    }

    &__price {
        color:$red;
        font-weight: bold;
    }
}