.bookDetails {
    //width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
    //border-style: hidden; /* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px #154BA0;
    border-color: #154BA0;
	
    &--first {
        max-height: 323px;
        height: 100%;
        @include screen("desktop991px") {
           flex: 1;
        }
    }
    &--second {
        max-height: 160px;
        height: 100%;
    }
    &--third {
        max-height: 207px;
        height: 100%;
    }
    
    &__header-row {
        height: 50px;
        background-color: $lightBlue;
       
    }
    &__body-row {
        border-style: hide; /* hide standard table (collapsed) border */
        box-shadow: none;
        border-bottom: none;
        background-color: $white;
        vertical-align: center;
    }

    &__body-row:nth-child(odd) {
        background-color: white;
    }
    &__body-row:nth-child(even) {
        background-color: white;
    }
   

    &__footer-row {
        @extend .bookDetails__header-row;
        //border: 1px solid $blue;
    }
}