.enquiry {
	
	
	&__overview {
		display: flex;
		grid-gap: 1rem;
	}
	&__overview-item-1 {
		flex: 1;
		
	}
	&__overview-item-2 {
		flex: 1;
	}
	
	&__overview-stars {
		display: flex;
		color: $yellow;
	}
	&__overview-star {
		padding-right: 2px;
	}
}
