.footer {
	background-color: $blue;
	height: 260px;
	width: 100vw;
	margin-top: 4rem;
	display: flex;
	align-items: center;

	&__text {
		color: $white;
		@include screen('mobile') {
			text-align: center;
			margin: 0 auto 2rem;
		}
	}
	&__icons {
		display: flex;
		justify-content: center;
		grid-gap: 2rem;
	}
	&__icon {
		color: $white;
		font-size: 32px;
		@include screen('mobile') {
			font-size: 1.5rem;
		}
	}
	&__list-item {
		line-height: 1.5;
	}
}
