
.Modal {
    position: absolute;
    
  }

  .Overlay {
    position: fixed;
    top: 120px;
    left: 25%;
    right: 25%;
    margin: auto;
    padding: 0 1rem;
    max-width: 800px;
    @include screen("tablet") {
      left: 15%;
      right: 15%;
     }
   @include screen("mobile") {
    left: 5%;
    right: 5%;
    
   }
  }