.sidebar {
	&__specific {
		font-family: $helveticaRegular;
		padding: 0 1rem 0 2rem;
		@include screen('mobile') {
			display: none;
		}
    
		&__btn {
			min-width: 150px;
		}
	}

	&__enquiry {
		margin-bottom: 2rem;
		padding: 0 1rem;
		display: flex;
		flex-direction: column;
	
		@include screen('mobile') {
			padding: 1rem 0;
			flex-direction: row;
			grid-gap: 1rem;
		}
		@include screen('mobileSm') {
			flex-direction: column;
			margin-bottom: 0rem;
			grid-gap: 0rem;
		}
	}
	&__enquiry-item {
		//flex: 1;
		flex-grow: 1;
	}
}
