.sidebar {
	&__specific {
		font-family: $helveticaRegular;
		padding: 0 1rem 0 2rem;
		@include screen('mobile') {
			display: none;
		}

		&__btn {
			min-width: 150px;
		}
	}

	&__enquiry {
		margin-bottom: 2rem;
		padding: 0 0 0 1rem;
		display: flex;
		flex-direction: column;
		
		@include screen('mobile') {
			padding: 1rem 0;
			flex-direction: column;
			grid-gap: 1rem;
		}
		@include screen('mobileSm') {
			margin-bottom: 0rem;
			grid-gap: 0rem;
		}
	}
	&__enquiry-item {
		&:nth-child(1) {
			flex: 0 1 305.92px;
			display: flex;
			flex-direction: column;
			@include screen('mobile') {
				display: block;
				flex: auto;
			}
		}
		&:nth-child(2) {
			flex: 1 1 190px;
			display: flex;
			flex-direction: column;
			@include screen('mobile') {
				display: block;
				flex: auto;
			}
		}
	}
}
