.table {

	&__head {
		border-bottom: none;
	}

	&__body-row {
		background-color: $white;
		
		&--border-bottom {
			border-bottom: 1px solid $blue;
		}
	}
	&__row {
		&:nth-child(odd) {
			background-color: $lightBlue;
		}
		&:nth-child(even) {
			background-color: $white;
		}
		&--border-bottom {
			border-bottom: 1px solid $blue;
		}
		&--border-bottom-even {
			&:nth-of-type(even) {
				border-bottom: 1px solid $blue;
			}
		}
	}
	&__section {
		overflow-x: scroll;
		@include screen('mobile') {
			padding: 0;
		}
	}
	&__trash {
		color: $red;
		font-size: 22px;
		cursor: pointer;
		&--hover {
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
