.table {

	&__row {
		&--border-bottom {
			border-bottom: 1px solid $blue;
		}
		&--border-bottom-even {
			&:nth-of-type(even) {
				border-bottom: 1px solid $blue;
			}
		}
	}
	&__section {
	
		overflow-x: scroll;
		@include screen("mobile") {
			padding: 0;
		}
	}
	&__trash {
		color: $red;
		font-size: 22px;
		cursor: pointer;
		&--hover {
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
