.sticky-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

.w-1200px {
    max-width: 1200px;
    width: 100%;
}

.w-600px {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.w-100vw {
    max-width: 100vw;
}

.columns {
    padding: 0 1rem;
   
    @include screen ("mobileSm") {
        padding: 0;
    }
    &--two {
        columns: 2;
        @include screen ("mobileSm") {
            columns: 1;
        }
    }
    &--three {
        columns: 3;
        @include screen ("mobileSm") {
            columns: 1;
          
        }
    }
}





